In [3]:
import json

In [19]:
# wczytanie pliku json z odpowiednimi parametrami
# encoding="utf-8" - obsługa polskich znaków
# mode="r" - tryb odczytu (domyślny)

f = open("detailed_report.json", encoding="utf-8", mode="r")
data = json.load(f)

In [20]:
for k,v in data.items():
    print(f"{k}: {v} ")

report_date: 2025-02-10 15:48
company_stats: {'total_employees': 8, 'departments': {'managers': {'count': 1, 'average_salary': 2000.0}, 'station_attendants': {'count': 2, 'average_salary': 1800.0}, 'cooks': {'count': 1, 'average_salary': 2100.0}, 'mechanics': {'count': 4, 'average_salary': 2050.0}}}
staff_details: {'managers': [{'name': 'Vera Schmidt', 'salary': 2000, 'contact': {'email': 'vera.schmidt@company.com', 'phone': 'N/A'}}], 'station_attendants': [{'name': 'Chuck Norris', 'salary': 1800, 'contact': {'email': 'chuck.norris@company.com', 'phone': 'N/A'}}, {'name': 'Samantha Carrginton', 'salary': 1800, 'contact': {'email': 'samantha.carrginton@company.com', 'phone': 'N/A'}}], 'cooks': [{'name': 'Roberto Jacketti', 'salary': 2100, 'contact': {'email': 'roberto.jacketti@company.com', 'phone': 'N/A'}}], 'mechanics': [{'name': 'Dave Drebig', 'salary': 2200, 'contact': {'email': 'dave.drebig@company.com', 'phone': 'N/A'}}, {'name': 'Tina River', 'salary': 2300, 'contact': {'email': 'tina.river@company.com', 'phone': 'N/A'}}, {'name': 'Ringo Rama', 'salary': 1900, 'contact': {'email': 'ringo.rama@company.com', 'phone': 'N/A'}}, {'name': 'Chuck Rainey', 'salary': 1800, 'contact': {'email': 'chuck.rainey@company.com', 'phone': 'N/A'}}]}

1. raport_date

1. company_stats -> {}
    - total_employees : 8
    - departments -> {}
        - managers -> {}
        - station_attendants -> {}
        - cook -> {}
        - mechanics -> {}
1. staff_details -> {}
    - managers -> []
    - station_attendants -> []
    - cooks -> []
    - mechanics -> []

In [25]:
company_stats = data["company_stats"]
print(type(company_stats)) 
print(company_stats.keys())
print()
for k,v in company_stats.items():
    print(f"{k}: {v}")

<class 'dict'>
dict_keys(['total_employees', 'departments'])

total_employees: 8
departments: {'managers': {'count': 1, 'average_salary': 2000.0}, 'station_attendants': {'count': 2, 'average_salary': 1800.0}, 'cooks': {'count': 1, 'average_salary': 2100.0}, 'mechanics': {'count': 4, 'average_salary': 2050.0}}

In [26]:
departments = company_stats["departments"]
print(type(departments))
print(departments.keys())
print()
for k,v in departments.items():
    print(f"{k}: {v}")

<class 'dict'>
dict_keys(['managers', 'station_attendants', 'cooks', 'mechanics'])

managers: {'count': 1, 'average_salary': 2000.0}
station_attendants: {'count': 2, 'average_salary': 1800.0}
cooks: {'count': 1, 'average_salary': 2100.0}
mechanics: {'count': 4, 'average_salary': 2050.0}

In [28]:

staff_details = data["staff_details"]
print(type(staff_details))
print(staff_details.keys())
print()
print(staff_details)

<class 'dict'>
dict_keys(['managers', 'station_attendants', 'cooks', 'mechanics'])

{'managers': [{'name': 'Vera Schmidt', 'salary': 2000, 'contact': {'email': 'vera.schmidt@company.com', 'phone': 'N/A'}}], 'station_attendants': [{'name': 'Chuck Norris', 'salary': 1800, 'contact': {'email': 'chuck.norris@company.com', 'phone': 'N/A'}}, {'name': 'Samantha Carrginton', 'salary': 1800, 'contact': {'email': 'samantha.carrginton@company.com', 'phone': 'N/A'}}], 'cooks': [{'name': 'Roberto Jacketti', 'salary': 2100, 'contact': {'email': 'roberto.jacketti@company.com', 'phone': 'N/A'}}], 'mechanics': [{'name': 'Dave Drebig', 'salary': 2200, 'contact': {'email': 'dave.drebig@company.com', 'phone': 'N/A'}}, {'name': 'Tina River', 'salary': 2300, 'contact': {'email': 'tina.river@company.com', 'phone': 'N/A'}}, {'name': 'Ringo Rama', 'salary': 1900, 'contact': {'email': 'ringo.rama@company.com', 'phone': 'N/A'}}, {'name': 'Chuck Rainey', 'salary': 1800, 'contact': {'email': 'chuck.rainey@company.com', 'phone': 'N/A'}}]}

In [30]:
for k,v in staff_details.items():
    print(f"{k}: {v}")

managers: [{'name': 'Vera Schmidt', 'salary': 2000, 'contact': {'email': 'vera.schmidt@company.com', 'phone': 'N/A'}}]
station_attendants: [{'name': 'Chuck Norris', 'salary': 1800, 'contact': {'email': 'chuck.norris@company.com', 'phone': 'N/A'}}, {'name': 'Samantha Carrginton', 'salary': 1800, 'contact': {'email': 'samantha.carrginton@company.com', 'phone': 'N/A'}}]
cooks: [{'name': 'Roberto Jacketti', 'salary': 2100, 'contact': {'email': 'roberto.jacketti@company.com', 'phone': 'N/A'}}]
mechanics: [{'name': 'Dave Drebig', 'salary': 2200, 'contact': {'email': 'dave.drebig@company.com', 'phone': 'N/A'}}, {'name': 'Tina River', 'salary': 2300, 'contact': {'email': 'tina.river@company.com', 'phone': 'N/A'}}, {'name': 'Ringo Rama', 'salary': 1900, 'contact': {'email': 'ringo.rama@company.com', 'phone': 'N/A'}}, {'name': 'Chuck Rainey', 'salary': 1800, 'contact': {'email': 'chuck.rainey@company.com', 'phone': 'N/A'}}]